#Footer1{
    text-align: center;
    background-color: aqua;
    border-radius: 20px;
    border:1px solid black;
    padding-top: 20px;
    margin-bottom: 20px;
}

#salidaID{
    color: blue;
    text-align: center;
}

#conclusion{
    color: blue;
    text-align: center;
}

th,td{
    text-align: center;
}

.card-body p{
    text-align: center;
    color: blue;
}